<% provide(:title, "About") %>

<div class="sidenav">
  <ul class="menu">
    <li><%= link_to "Back to top", "#" %></li>
    <li><%= link_to "What is a faculty toolkit?", "#section1.1" %></li>
    <li><%= link_to "How do I use it?", "#section1.2" %></li>
   </ul>
</div>

<!--content-->
<div class = "main">
 
<h1>About</h1>
  
  <div id="section1">

    <h3>What is a faculty toolkit?</h3>
    <div id="section1.1"> 
        <p>
            Toolkits seek to provide the background and methods to specific ways of thinking, doing, & assessing. 
            This toolkit focuses on community-engaged learning, an
            approach to applied learning that is
            built on the foundation of
            intentional & mutally beneficial
            community partnerships. 
        </p>
        <p>
            Community-engaged learning
            (C-EL) yields high potential for
            social impact when navigated
            through self-awareness and
            community input. This toolkit hopes
            to offer some ways to approach CEL.
        </p>
    </div>
    
     <div id="section1.2"> 
      <h3>How do I use it? </h3>
          <p>
            This toolkit is meant to fit the
            needs and skill set of its user. You
            may wish to read & explore from
            beginning to end OR read a
            certain section or subsection.
          </p>
          <p>
            Make the resource work for your
            project or goals. You will find
            context to community-engaged
            leartning, strategies to building
            community relationships, course
            design tips, and assessment &
            professional development
            resources.
          </p>
         
    </div>
  </div>
  
  
   
</div>
 <!--</div>-->

