<% provide(:title, "Contact") %>

<!--content-->
<div class = "main">
 
<h1>Contact</h1>
  
  <div id="section1">
    <h3>Lia Schiffito</h3>
    <div> 
        <p style="font-style:italic;">
            Mellon Community Engaged Learning Fellow
        </p> 
        <p>
            schifitto@grinnell.edu
        </p>
    </div>
    
    <br/>
     <div> 
      <h3>Susan Sanning </h3>
          <p style="font-style:italic;">
            Assistant Dean & Director,
            Service & Social Innovation
          </p>
          <p>
            sannings@grinnell.edu
          </p>
    </div>
  </div>
  
  
   
</div>
 <!--</div>-->