<% provide(:title, "Partners") %>
<div class = "main-center">
<h1>Community Partners</h1>


<!--Scroll Button-->
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class='glyphicon glyphicon-chevron-up fa-1x'></button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>



<!--MAP-->
<style>.embed-container {position: relative; padding-bottom: 50%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Community Partner Map" src="//grinnell.maps.arcgis.com/apps/Embed/index.html?webmap=7a776dccfd3f42ca8184a4b06a890a65&extent=-93.918,41.4061,-92.4019,42.1344&home=true&zoom=true&previewImage=false&scale=true&details=true&legendlayers=true&active_panel=legend&disable_scroll=true&theme=light"></iframe></div>

<!--Partner 1-->
<div class='container-border'>
    <div>
      <logo-icon> 
        <a href="https://www.alexitoiowa.org">
          <img src='https://static.wixstatic.com/media/15e5d3_190b8eeb24a24e51a83c450ce251d6e8~mv2.png/v1/fill/w_736,h_344,al_c,usm_0.66_1.00_0.01/15e5d3_190b8eeb24a24e51a83c450ce251d6e8~mv2.png' class='logo-icon'>
        </a>
    </div>  
    <div style='margin-left:0px;'>
      <h4><b>Latinas al Éxito</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education, Government and Social Services, Community Based Learning Class.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.alexitoiowa.org"><em>https://www.alexitoiowa.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 480-0904</div>
      
      <div style="font-size:0.9em">Latinas al Éxito (Latinas toward Success) is an AAUW-Iowa initiative which provides an alliance between 
      eighth-grade Latinas and professional, college-experienced Latinas with activities designed to eliminate barriers that keep young
      Latinas from college, to motivate students for educational achievement, to equip a more educated workforce, and to empower adult 
      Latinas who have college experience in leadership roles.
    </div>
    </div>
</div>

<!--Partner 2-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.redcross.org/local/iowa.html">
              <img src='https://www.redcross.org/content/dam/redcross/imported-images/redcross-logo.png.img.png' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>American Red Cross of Iowa (Des Moines)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education, Government and Social Services, Community Based Learning Class.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.redcross.org/ia/des-moines"><em>https://www.redcross.org/local/iowa.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (800) 733-2767</div>
      
      <div style="font-size:0.9em">The American Red Cross exists to provide compassionate care to those in need. Our network of generous donors, 
      volunteers and employees share a mission of preventing and relieving suffering, here at home and around the world, through five key service areas:
    </div>
    </div>
</div>

<!--Partner 3-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Bailey Park Elementary School</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary"><em>https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2770</div>
      
      <div style="font-size:0.9em">Bailey Park Elementary School is a public elementary school that serves students between the grade levels of 
      kindergarten and second grade. The school is one of 2 primary schools for this age level in the town of Grinnell, and is part of the 
      Grinnell-Newburg School District. If you would like to work with Bailey Park, please contact the Assistant Director of Service and Social 
      Innovation or the Director of the Education Professions Community at the CLS before reaching out to school officials.
      </div>
    </div>
</div>

<!--Partner 4-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.brooklyn.k12.ia.us">
              <img src='https://lh5.googleusercontent.com/o-F6PXB9yo-3DHlxqMgGxm9XgLDEZOElgadOUB2z97CJH7mVtsFZVuh5HxkovSMUivKtPQ=w16383' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Brooklyn Guersey Malcom Schools</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.brooklyn.k12.ia.us">
          <em>https://www.brooklyn.k12.ia.us</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 522-9268</div>
      
      <div style="font-size:0.9em">BGM schools represents the public school district for students living in the communities of Brooklyn,
      Guernsey, and Malcolm in east-Central Iowa. The district serves about 550 students and works with students from Pre-K to 12th
      grade. If you would like to work with BGM schools, please contact the Assistant Director of Service and Social Innovation or the 
      Director of the Education Professions Community at the CLS before reaching out to school officials.
      </div>
    </div>
</div>

<!--Partner 5-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.heartofiowabigs.org/grinnell.html">
              <img src='https://www.heartofiowabigs.org/uploads/1/0/0/2/100265850/rgb-primary-433-1916x1002.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Big Brother/Big Sisters of Grinnell</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education Professions, Government and Social Services.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.heartofiowabigs.org/grinnell.htmls">
          <em>https://www.heartofiowabigs.org/grinnell.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 753-6370 </div>
      
      <div style="font-size:0.9em">Heart of Iowa Big Brothers Big Sisters is based out of Marshalltown, Iowa. The Heart of Iowa BBBS Grinnell Program is active in the 
      three Grinnell elementary schools and the Grinnell Middle School.
      </div>
    </div>
</div>
  
<!--Partner 6-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.blankparkzoo.com/">
              <img src='https://www.blankparkzoo.com/20210317125951/assets/images/Blank_Park_Zoo_No_Shadow_white-tagup.svg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Blank Park Zoo Animal Enrichment</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.blankparkzoo.com/">
          <em>https://www.blankparkzoo.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 285-4722 </div>
      
      <div style="font-size:0.9em">The mission of Des Moines’ Blank Park Zoo is to inspire an appreciation of the natural world through conservation, education and recreation.
      </div>
    </div>
</div>

<!--Partner 7-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.centraliowachristianschool.org">
              <img src='https://static.wixstatic.com/media/7c704d_6ab0e27d45ec4fedb5dd0fd647ff30da~mv2.jpg/v1/crop/x_0,y_166,w_1360,h_686/fill/w_690,h_456,al_c,q_80,usm_0.66_1.00_0.01/7c704d_6ab0e27d45ec4fedb5dd0fd647ff30da~mv2.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Central Iowa Christian School</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.centraliowachristianschool.org">
          <em>https://www.centraliowachristianschool.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-3000</div>
      
      <div style="font-size:0.9em">At Central Iowa Christian School, we define our role as one to support families. The school compliments what is taught at home and at church, and is not a replacement for either. We believe that all students should have the 
      opportunity to learn surrounded by Christ, maximize their individual potential for growth, and explore and develop interests. We use inquiry-based learning, multi-grade classrooms and faith-based practices to provide excellent educations to each of our students.
      </div>
    </div>
</div>
  
<!--Partner 8-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.cirsi.org/">
              <img src='http://www.cirsi.org/_Media/cirsi-logo-4_med.png' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Central Iowa Residential Service (CIRSI)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.cirsi.org/">
          <em>http://www.cirsi.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 752-5762 </div>
      
      <div style="font-size:0.9em">CIRSI believes that every person is entitled to dignity and respect, regardless of disability. CIRSI endeavors to provide support, empowerment and services that uphold each person’s dignity and respects the uniqueness of each individual. We all have strengths and needs; it is inherent in being human. We also have the right to make choices and decisions regarding how we utilize our strengths and meet our needs. We believe people have the ability and motivation to learn, grow, at their own pace, in their own way.
      </div>
    </div>
</div>

<!--Partner 9-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://cfum.org">
              <img src='https://cfum.org/wp-content/uploads/2014/08/CFUM_4C_PMSlogo_400w.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Children and Family Urban Ministries (Des Moines)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Government and Social Science, Heath Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://cfum.org">
          <em>https://cfum.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 282-3242</div>
      
      <div style="font-size:0.9em">The mission of CFUM is to create a community that supports the potential of children, youth, and families through educational success, healthy living, and community engagement. CFUM is a 501-C-3 entity and our Tax ID # is 42-1396833.
      Children and Family Urban Movement rents space with Trinity United Methodist Church located on the corner of 8th and College directly across the street from Moulton Extended Learning Center.
      </div>
    </div>
</div>

<!--Partner 10-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://ahrensfamilyfoundation.org">
              <img src='https://ahrensfamilyfoundation.org/wp-content/uploads/2016/05/cdaf_logo_new_retina.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Claude W. & Dolly Ahrens Foundation</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Business and Finance, Government and Social Science, SLWS, Internships.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://ahrensfamilyfoundation.org">
          <em>https://ahrensfamilyfoundation.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-5518</div>
      
      <div style="font-size:0.9em">The Grinnell College Innovator for Social Justice Prize (the Grinnell Prize) honors individuals who have demonstrated leadership in their fields and who show creativity, commitment, and extraordinary accomplishment in effecting positive social change.
      Each prize carries an award of $100,000, half to the winning individual(s) and half to their organization.</div>
    </div>
</div>

<!--Partner 11 - Community Support for Immigrants -->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://cosi-iowa.org/">
              <img src='https://cosi-iowa.org/wp-content/uploads/2020/04/cropped-CoSI-logo.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4><b>Community Support for Immigrants (CoSI)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://cosi-iowa.org/">
          <em>https://cosi-iowa.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 316-6868 </div>

      <div style="font-size:0.9em">Community Support for Immigrants (CoSI) promotes a welcoming, respectful and safe environment for international persons living or working in Grinnell as they seek to adjust to new surroundings in the United States. Community volunteers work alongside international persons to develop equality of rights and opportunities in the social, economic, cultural, religious, and political life of Grinnell. CoSI has developed a "Preparedness Plan in the Event of Immigration Enforcement" to ensure the most effective allocation of humanitarian resources for the maximum benefit and dignity of immigrant families who may be affected by workplace, home, or public venue immigration enforcement activity.
      </div>
    </div>
</div>

<!--Partner 12 - Conard Environmental Research Area & Prairie Restoration -->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/academics/majors-concentrations/biology/cera">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Conard Environmental Research Area & Prairie Restoration<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/academics/majors-concentrations/biology/cera">
          <em>https://www.grinnell.edu/academics/majors-concentrations/biology/cera</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">The Conard Environmental Research Area, located eleven miles from the Grinnell College Campus, is a 365-acre field station used for class field trips, student and faculty research, and quiet enjoyment. CERA is an exceptional resource for engaging students in environmental inquiry, providing inspiration and raw materials for artistic expression, teachings students and community members of all ages about the history and character of our past, present, and future landscape, and serving as a model for land preservation and ecological restoration. CERA is open to the public for hiking, bird watching, photography, painting, drawing, and other facets of the study and enjoyment of nature.
      </div>
    </div>
</div>

<!--Partner 13 - Crisis Intervention Service-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.stopdvsa.org/">
              <img src='https://static1.squarespace.com/static/5da756606e99da3c1206ea7e/t/5da76445ba37f9265c4c1dbe/1610394938208/?format=1500w' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Crisis Intervention Service<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Social Sciences and Law.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.stopdvsa.org/">
          <em>https://www.stopdvsa.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 673-0336 </div>

      <div style="font-size:0.9em">Crisis Intervention Services (CIS) is a nonprofit organization that has served victims of abuse since 1997. We are supported by local, state and federal grants and donations from individuals, organizations and corporations in our community. Crisis Intervention Services (CIS) provides support and empowerment to victims/survivors of domestic and dating violence and/or sexual assault in Appanoose, Davis, Jasper, Jefferson, Keokuk, Lucas, Mahaska, Marion, Monroe, Poweshiek, Wapello and Wayne counties in Iowa. In addition to victim services, CIS provides prevention education and programming. We recognize that to be successful, community involvement and awareness are essential and actively work to engage partners in supporting survivors and ending violence. Recently, CIS has formed partnerships with area schools to provide educational and leadership opportunities to students through a program called Mentors in Violence Prevention (MVP).
      </div>
    </div>
</div>

<!--Partner 14 - CultureALL (Des Moines)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.cultureall.org/">
              <img src='https://assets.website-files.com/5e56d30d7e58c2532f5728e4/5e580a330e511c835b3312e8_CultureAll-Logo.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>CultureALL (Des Moines)<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.cultureall.org/">
          <em>https://www.cultureall.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 273-8569 </div>

      <div style="font-size:0.9em">CultureALL is the premier provider of cultural programming in central Iowa. We bring real people—from a diverse range of cultural backgrounds—into classrooms and businesses to deliver interactive, authentic learning experiences that help build understanding and appreciation of world cultures. Your donation will support our work in preparing Iowans to live and work successfully as members of a global community.
      </div>
    </div>
</div>

<!--Partner 15 - Center for Religion, Spirituality, and Social Justice-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/about/offices-services/crssj/student-orgs">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Center for Religion, Spirituality, and Social Justice<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Humanities and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/about/offices-services/crssj/student-orgs">
          <em>https://www.grinnell.edu/about/offices-services/crssj/student-orgs</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">The Center for Religion, Spirituality, and Social Justice helps you engage with Grinnell’s diverse spiritual community. Designed to foster interfaith dialogue and support many religious traditions, the center promotes local and global social justice through regular community meals, service opportunities, and other activities.
      </div>
    </div>
</div>

<!--Partner 16 - Davis Elementary School-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Davis%20Elementary">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Davis Elementary School<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Humanities and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Davis%20Elementary">
          <em>https://www.grinnell-k12.org/vnews/display.v/SEC/Davis%20Elementary</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2700 </div>

      <div style="font-size:0.9em">Davis Elementary School is a public elementary school located in Grinnell, IA in the Grinnell-Newburg Community School District. It enrolls 241 students in the 3rd and 4th grade. Davis Elementary School is the 497th largest public school in Iowa and the 45,758th largest nationally. It has 14.1 students to every teacher. If you would like to work with Davis, please contact the Assistant Director of Service and Social Innovation or the Director of the Education Professions Community at the CLS before reaching out to school officials.
      </div>
    </div>
</div>

<!--Partner 17 - Drake Community Library-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://drakelibrary.org/">
              <img src='https://drakelibrary.org/wp-content/uploads/2020/07/cropped-bw-logo-with-name-and-tagline-1.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Drake Community Library<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://drakelibrary.org/">
          <em>https://drakelibrary.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2661 </div>

      <div style="font-size:0.9em">Drake Library is a community resource center striving to inform and empower every person in the community through responsive services, collections and programs. DCL will be a place where people have open access to the   power of information and the joy of reading, a crossroads for social interactions and the exchange of ideas and cultural enrichment. The program assistant will work with librarians to provide children with learning opportunities and homework help. The library also hosts the Poweshiek Historical Preservation Project, a collaboration between Drake Community Library and the Grinnell College libraries which seeks to build a searchable digital archive of local area history.
      </div>
    </div>
</div>

<!--Partner 18 - Fairview Elementary School-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Fairview%20Elementary">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Fairview Elementary School<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Fairview%20Elementary">
          <em>https://www.grinnell-k12.org/vnews/display.v/SEC/Fairview%20Elementary</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2700 </div>

      <div style="font-size:0.9em">A PK-2 school in the Grinnell Newburg School District. If you would like to work with Fairview, please contact the Assistant Director of Service and Social Innovation or the Director of the Education Professions Community at the CLS before reaching out to school officials. Fairview Music program has had previous volunteer involvment.
      </div>
    </div>
</div>

<!--Partner 19 - Faulconer Gallery-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/campus-life/arts-culture/museum">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Faulconer Gallery<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Arts and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/campus-life/arts-culture/museum">
          <em>https://www.grinnell.edu/campus-life/arts-culture/museum</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">The Grinnell College Faulconer Gallery promotes learning through artistic excellence and creative collaboration. The assistant will help Tilly Woodward with community outreach and education activities.
      </div>
    </div>
</div>

<!--Partner 20 - Genesis Development-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://indianola.chamberofcommerce.me/indianolachamber/mem_kcharles">
              <img src='https://chamberorganizer.com/indianolachamber/photos/HEAD333017banP.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Genesis Development<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government, Social Sciences, and Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://indianola.chamberofcommerce.me/indianolachamber/mem_kcharles">
          <em>https://indianola.chamberofcommerce.me/indianolachamber/mem_kcharles</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-0230 </div>

      <div style="font-size:0.9em">Genesis Development is a private, 501(c)(3) not-for-profit rehabilitation organization that provides support for people with disabilities.   Rehabilitation services are provided through continuing assessments and goal setting. These goals are intended to address the needs and desires of those receiving services.
      </div>
    </div>
</div>

<!--Partner 21- Girl Scouts of Greater Iowa-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.girlscoutsiowa.org/en/for-volunteers/why-volunteer.html">
              <img src='https://www.girlscoutsiowa.org/content/dam/girlscouts-girlscoutsiowa/images/logo/large/G_IOWA_black.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Girl Scouts of Greater Iowa<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.girlscoutsiowa.org/en/for-volunteers/why-volunteer.html">
          <em>https://www.girlscoutsiowa.org/en/for-volunteers/why-volunteer.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> 800 (342-8389) </div>

      <div style="font-size:0.9em">Girl Scouting builds girls of courage, confidence, and character, who make the world a better place.
      </div>
    </div>
</div>

<!--Partner 22 - Greater Poweshiek Community Foundation-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://greaterpcf.org/?doing_wp_cron=1615961174.1974239349365234375000">
              <img src='https://greaterpcf.org/wp-content/uploads/2019/06/gpcf_logo_new_retina.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Greater Poweshiek Community Foundation<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Social Sciences and Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://greaterpcf.org/?doing_wp_cron=1615961174.1974239349365234375000">
          <em>https://greaterpcf.org/?doing_wp_cron=1615961174.1974239349365234375000</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-5518 </div>

      <div style="font-size:0.9em">The Greater Poweshiek Community Foundation, located in Grinnell, Iowa, assists donors in efficiently and effectively supporting non-profit organizations that make life better for people in the area. Through the Foundation, donors are able to make long-lasting positive contributions without being burdened by administrative or legal complexities. The student working in this position would help with the everyday work of the organization and would give particular help to a program related to their area of interest.
      </div>
    </div>
</div>

<!--Partner 23 - Grinnell Area Arts Council-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnellarts.org/">
              <img src='https://static1.squarespace.com/static/57c9c23f9de4bb3184294bc4/t/602fe32774b44f3518acf398/1615404148754/?format=1500w' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Area Arts Council<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Arts and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnellarts.org/">
          <em>https://www.grinnellarts.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-3203 </div>

      <div style="font-size:0.9em">The Grinnell Area Arts Council exists to promote, encourage, develop, and assist in the understanding, appreciation, and financial support of the arts and other cultural activities in the Grinnell Area. The assistant will help with programing consistent with the Council’s needs and the students’ interests or abilities. Stew Art Studios (the Stew) is a mutli-purpose creative space in downtown Grinnell. The Stew operates within the umbrella of the Arts Council. The Neverland Players work with the Art's Council's afterschool program to turn children-written stories into performance. Neverland Players, the Maker Lab have been collaborations with Grinnell.
      </div>
    </div>
</div>

<!--Partner 24 - Grinnell Chamber of Commerce-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnellchamber.org/">
              <img src='https://www.grinnellchamber.org/20210311004137/images/logo-black.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Chamber of Commerce<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Goverment and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnellchamber.org/">
          <em>https://www.grinnellchamber.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-6555 </div>

      <div style="font-size:0.9em">The Chamber's job is to grow and develop the local economy and act as a hub for resident and visitor information. The Chamber operates a Convention and Visitors Bureau charged with marketing Grinnell as a destination and staffing a visitor's center inside the Sullivan Bank. It also facilitates events and acts as a small business support center providing marketing and publicity services. The Chamber actively recruits businesses to Grinnell and encourages entrepreneurship and business development, and collaborates with many businesses on strategic growth initiatives. The Assistant will help with tasks as assigned and needed.
      </div>
    </div>
</div>

<!--Partner 25 - Grinnell Community Day Care Center (Ahrens Daycare)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnellcommunitydaycare.com/">
              <img src='https://le-cdn.hibuwebsites.com/90a358a8b88f42b7b3d88f945af8baf5/dms3rep/multi/opt/GrinnellCommunity_daycare_preschool1-01+%281%29-450w.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Community Day Care Center (Ahrens Daycare)<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnellcommunitydaycare.com/">
          <em>https://www.grinnellcommunitydaycare.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-7214 </div>

      <div style="font-size:0.9em">This center has a long, established day care tradition since 1969. Our unique & interesting history illustrates the deep commitment of the people of Grinnell to our center. Our center is an example of what can be achieved for the children of this world when a community gives its very best effort to support the education and care of its children.
      </div>
    </div>
</div>

<!--Partner 26 - Grinnell College Advocates-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/about/offices-services/crssj/support">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell College Advocates<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/about/offices-services/crssj/support">
          <em>https://www.grinnell.edu/about/offices-services/crssj/support</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">Grinnell Advocates is a staff-supervised, student organization that aims to create greater awareness about issues surrounding sexual assault and dating violence on campus. This group provides sensitive, educational programming about issues related to dating violence, sexual harassment, and sexual assault. The advocates also act as an immediate resource for victims through the CIS (Crisis Intervention Services) hotline.
      </div>
    </div>
</div>

<!--Partner 27 - Grinnell Health Care Center-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnellhealthcarecenter.com/">
              <img src='https://www.grinnellhealthcarecenter.com/img/logo.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Health Care Center<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnellhealthcarecenter.com/">
          <em>https://www.grinnellhealthcarecenter.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> 641) 236-6511 </div>

      <div style="font-size:0.9em">At Grinnell Health Care Center we value each Resident by utilizing the necessary medical, rehabilitation and social resources. It is our goal to restore and assist the Resident in maintaining their fullest potential. We are dedicated to providing an individualized approach that addresses the Resident’s needs while maintaining a sense of dignity and integrity.
      </div>
    </div>
</div>

<!--Partner 28 - Grinnell Heritage Farm-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://grinnellheritagefarm.com/">
              <img src='https://grinnellheritagefarm.com/wp-content/uploads/2013/09/ghf_logo_black.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Heritage Farm<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://grinnellheritagefarm.com/">
          <em>https://grinnellheritagefarm.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 990-0018 </div>

      <div style="font-size:0.9em">To farm our land in a way that will leave it better for the next generation. Giving our children, grandchildren, and beyond the opportunity to harvest the bounty we see on the farm today.
      </div>
    </div>
</div>

<!--Partner 29 - Grinnell High School-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg+High+School">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell High School<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg+High+School">
          <em>https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg+High+School</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2700 </div>

      <div style="font-size:0.9em">The Grinnell-Newburg School District, in partnership with the entire community, will empower every student to become a lifelong learner who is a responsible, productive and engaged citizen within the global community.
      </div>
    </div>
</div>

<!--Partner 30 - Grinnell Historical Museum-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.grinnellhistoricalmuseum.org/index.html">
              <img src='http://www.grinnellhistoricalmuseum.org/uploads/3/4/3/9/34391397/published/new-logo-dk-blue.jpg?1522367207' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Historical Museum<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Arts and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.grinnellhistoricalmuseum.org/index.html">
          <em>http://www.grinnellhistoricalmuseum.org/index.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-7827 </div>

      <div style="font-size:0.9em">Throughout its history, the Grinnell Historical Museum has been operated by volunteers. The Museum offers its volunteers a unique opportunity to utilize their historical skills and interests in the service of the community. They match assignments with the volunteers’ available time and interests and provide training. The assistant will support the board and lead volunteers and will help write and edit a book about the history of Grinnell for local third graders.
      </div>
    </div>
</div>

</div>
