<% provide(:title, "Partners") %>
<div class = "main-center">
<h1>Community Partners</h1>


<!--Scroll Button-->
<button onclick="topFunction()" id="myBtn" title="Go to top"><span class='glyphicon glyphicon-chevron-up fa-1x'></button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>



<!--MAP-->
<style>.embed-container {position: relative; padding-bottom: 50%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Community Partner Map" src="//grinnell.maps.arcgis.com/apps/Embed/index.html?webmap=7a776dccfd3f42ca8184a4b06a890a65&extent=-93.918,41.4061,-92.4019,42.1344&home=true&zoom=true&previewImage=false&scale=true&details=true&legendlayers=true&active_panel=legend&disable_scroll=true&theme=light"></iframe></div>

<!--Partner 1-->
<div class='container-border'>
    <div>
      <logo-icon> 
        <a href="https://www.alexitoiowa.org">
          <img src='https://static.wixstatic.com/media/15e5d3_190b8eeb24a24e51a83c450ce251d6e8~mv2.png/v1/fill/w_736,h_344,al_c,usm_0.66_1.00_0.01/15e5d3_190b8eeb24a24e51a83c450ce251d6e8~mv2.png' class='logo-icon'>
        </a>
    </div>  
    <div style='margin-left:0px;'>
      <h4><b>Latinas al Éxito</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education, Government and Social Services, Community Based Learning Class.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.alexitoiowa.org"><em>https://www.alexitoiowa.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 480-0904</div>
      
      <div style="font-size:0.9em">Latinas al Éxito (Latinas toward Success) is an AAUW-Iowa initiative which provides an alliance between 
      eighth-grade Latinas and professional, college-experienced Latinas with activities designed to eliminate barriers that keep young
      Latinas from college, to motivate students for educational achievement, to equip a more educated workforce, and to empower adult 
      Latinas who have college experience in leadership roles.
    </div>
    </div>
</div>

<!--Partner 2-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.redcross.org/local/iowa.html">
              <img src='https://www.redcross.org/content/dam/redcross/imported-images/redcross-logo.png.img.png' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>American Red Cross of Iowa (Des Moines)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education, Government and Social Services, Community Based Learning Class.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.redcross.org/ia/des-moines"><em>https://www.redcross.org/local/iowa.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (800) 733-2767</div>
      
      <div style="font-size:0.9em">The American Red Cross exists to provide compassionate care to those in need. Our network of generous donors, 
      volunteers and employees share a mission of preventing and relieving suffering, here at home and around the world, through five key service areas:
    </div>
    </div>
</div>

<!--Partner 3-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Bailey Park Elementary School</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary"><em>https://www.grinnell-k12.org/vnews/display.v/SEC/Bailey%20Park%20Elementary</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2770</div>
      
      <div style="font-size:0.9em">Bailey Park Elementary School is a public elementary school that serves students between the grade levels of 
      kindergarten and second grade. The school is one of 2 primary schools for this age level in the town of Grinnell, and is part of the 
      Grinnell-Newburg School District. If you would like to work with Bailey Park, please contact the Assistant Director of Service and Social 
      Innovation or the Director of the Education Professions Community at the CLS before reaching out to school officials.
      </div>
    </div>
</div>

<!--Partner 4-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.brooklyn.k12.ia.us">
              <img src='https://lh5.googleusercontent.com/o-F6PXB9yo-3DHlxqMgGxm9XgLDEZOElgadOUB2z97CJH7mVtsFZVuh5HxkovSMUivKtPQ=w16383' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Brooklyn Guersey Malcom Schools</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.brooklyn.k12.ia.us">
          <em>https://www.brooklyn.k12.ia.us</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 522-9268</div>
      
      <div style="font-size:0.9em">BGM schools represents the public school district for students living in the communities of Brooklyn,
      Guernsey, and Malcolm in east-Central Iowa. The district serves about 550 students and works with students from Pre-K to 12th
      grade. If you would like to work with BGM schools, please contact the Assistant Director of Service and Social Innovation or the 
      Director of the Education Professions Community at the CLS before reaching out to school officials.
      </div>
    </div>
</div>

<!--Partner 5-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.heartofiowabigs.org/grinnell.html">
              <img src='https://www.heartofiowabigs.org/uploads/1/0/0/2/100265850/rgb-primary-433-1916x1002.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Big Brother/Big Sisters of Grinnell</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education Professions, Government and Social Services.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.heartofiowabigs.org/grinnell.htmls">
          <em>https://www.heartofiowabigs.org/grinnell.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 753-6370 </div>
      
      <div style="font-size:0.9em">Heart of Iowa Big Brothers Big Sisters is based out of Marshalltown, Iowa. The Heart of Iowa BBBS Grinnell Program is active in the 
      three Grinnell elementary schools and the Grinnell Middle School.
      </div>
    </div>
</div>
  
<!--Partner 6-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.blankparkzoo.com/">
              <img src='https://www.blankparkzoo.com/20210317125951/assets/images/Blank_Park_Zoo_No_Shadow_white-tagup.svg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Blank Park Zoo Animal Enrichment</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.blankparkzoo.com/">
          <em>https://www.blankparkzoo.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 285-4722 </div>
      
      <div style="font-size:0.9em">The mission of Des Moines’ Blank Park Zoo is to inspire an appreciation of the natural world through conservation, education and recreation.
      </div>
    </div>
</div>

<!--Partner 7-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.centraliowachristianschool.org">
              <img src='https://static.wixstatic.com/media/7c704d_6ab0e27d45ec4fedb5dd0fd647ff30da~mv2.jpg/v1/crop/x_0,y_166,w_1360,h_686/fill/w_690,h_456,al_c,q_80,usm_0.66_1.00_0.01/7c704d_6ab0e27d45ec4fedb5dd0fd647ff30da~mv2.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Central Iowa Christian School</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Education Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.centraliowachristianschool.org">
          <em>https://www.centraliowachristianschool.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-3000</div>
      
      <div style="font-size:0.9em">At Central Iowa Christian School, we define our role as one to support families. The school compliments what is taught at home and at church, and is not a replacement for either. We believe that all students should have the 
      opportunity to learn surrounded by Christ, maximize their individual potential for growth, and explore and develop interests. We use inquiry-based learning, multi-grade classrooms and faith-based practices to provide excellent educations to each of our students.
      </div>
    </div>
</div>
  
<!--Partner 8-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.cirsi.org/">
              <img src='http://www.cirsi.org/_Media/cirsi-logo-4_med.png' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Central Iowa Residential Service (CIRSI)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.cirsi.org/">
          <em>http://www.cirsi.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 752-5762 </div>
      
      <div style="font-size:0.9em">CIRSI believes that every person is entitled to dignity and respect, regardless of disability. CIRSI endeavors to provide support, empowerment and services that uphold each person’s dignity and respects the uniqueness of each individual. We all have strengths and needs; it is inherent in being human. We also have the right to make choices and decisions regarding how we utilize our strengths and meet our needs. We believe people have the ability and motivation to learn, grow, at their own pace, in their own way.
      </div>
    </div>
</div>

<!--Partner 9-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://cfum.org">
              <img src='https://cfum.org/wp-content/uploads/2014/08/CFUM_4C_PMSlogo_400w.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Children and Family Urban Ministries (Des Moines)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Government and Social Science, Heath Professions.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://cfum.org">
          <em>https://cfum.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 282-3242</div>
      
      <div style="font-size:0.9em">The mission of CFUM is to create a community that supports the potential of children, youth, and families through educational success, healthy living, and community engagement. CFUM is a 501-C-3 entity and our Tax ID # is 42-1396833.
      Children and Family Urban Movement rents space with Trinity United Methodist Church located on the corner of 8th and College directly across the street from Moulton Extended Learning Center.
      </div>
    </div>
</div>

<!--Partner 10-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://ahrensfamilyfoundation.org">
              <img src='https://ahrensfamilyfoundation.org/wp-content/uploads/2016/05/cdaf_logo_new_retina.jpg' class='logo-icon'>
            </a>
        </div>  
    <div style='margin-left:0px;'>
      <h4><b>Claude W. & Dolly Ahrens Foundation</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b> Business and Finance, Government and Social Science, SLWS, Internships.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://ahrensfamilyfoundation.org">
          <em>https://ahrensfamilyfoundation.org</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-5518</div>
      
      <div style="font-size:0.9em">The Grinnell College Innovator for Social Justice Prize (the Grinnell Prize) honors individuals who have demonstrated leadership in their fields and who show creativity, commitment, and extraordinary accomplishment in effecting positive social change.
      Each prize carries an award of $100,000, half to the winning individual(s) and half to their organization.</div>
    </div>
</div>

<!--Partner 11 - Community Support for Immigrants -->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://cosi-iowa.org/">
              <img src='https://cosi-iowa.org/wp-content/uploads/2020/04/cropped-CoSI-logo.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4><b>Community Support for Immigrants (CoSI)</b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://cosi-iowa.org/">
          <em>https://cosi-iowa.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 316-6868 </div>

      <div style="font-size:0.9em">Community Support for Immigrants (CoSI) promotes a welcoming, respectful and safe environment for international persons living or working in Grinnell as they seek to adjust to new surroundings in the United States. Community volunteers work alongside international persons to develop equality of rights and opportunities in the social, economic, cultural, religious, and political life of Grinnell. CoSI has developed a "Preparedness Plan in the Event of Immigration Enforcement" to ensure the most effective allocation of humanitarian resources for the maximum benefit and dignity of immigrant families who may be affected by workplace, home, or public venue immigration enforcement activity.
      </div>
    </div>
</div>

<!--Partner 12 - Conard Environmental Research Area & Prairie Restoration -->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/academics/majors-concentrations/biology/cera">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Conard Environmental Research Area & Prairie Restoration<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/academics/majors-concentrations/biology/cera">
          <em>https://www.grinnell.edu/academics/majors-concentrations/biology/cera</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">The Conard Environmental Research Area, located eleven miles from the Grinnell College Campus, is a 365-acre field station used for class field trips, student and faculty research, and quiet enjoyment. CERA is an exceptional resource for engaging students in environmental inquiry, providing inspiration and raw materials for artistic expression, teachings students and community members of all ages about the history and character of our past, present, and future landscape, and serving as a model for land preservation and ecological restoration. CERA is open to the public for hiking, bird watching, photography, painting, drawing, and other facets of the study and enjoyment of nature.
      </div>
    </div>
</div>

<!--Partner 13 - Crisis Intervention Service-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.stopdvsa.org/">
              <img src='https://static1.squarespace.com/static/5da756606e99da3c1206ea7e/t/5da76445ba37f9265c4c1dbe/1610394938208/?format=1500w' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Crisis Intervention Service<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Social Sciences and Law.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.stopdvsa.org/">
          <em>https://www.stopdvsa.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 673-0336 </div>

      <div style="font-size:0.9em">Crisis Intervention Services (CIS) is a nonprofit organization that has served victims of abuse since 1997. We are supported by local, state and federal grants and donations from individuals, organizations and corporations in our community. Crisis Intervention Services (CIS) provides support and empowerment to victims/survivors of domestic and dating violence and/or sexual assault in Appanoose, Davis, Jasper, Jefferson, Keokuk, Lucas, Mahaska, Marion, Monroe, Poweshiek, Wapello and Wayne counties in Iowa. In addition to victim services, CIS provides prevention education and programming. We recognize that to be successful, community involvement and awareness are essential and actively work to engage partners in supporting survivors and ending violence. Recently, CIS has formed partnerships with area schools to provide educational and leadership opportunities to students through a program called Mentors in Violence Prevention (MVP).
      </div>
    </div>
</div>

<!--Partner 14 - CultureALL (Des Moines)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.cultureall.org/">
              <img src='https://assets.website-files.com/5e56d30d7e58c2532f5728e4/5e580a330e511c835b3312e8_CultureAll-Logo.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>CultureALL (Des Moines)<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.cultureall.org/">
          <em>https://www.cultureall.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 273-8569 </div>

      <div style="font-size:0.9em">CultureALL is the premier provider of cultural programming in central Iowa. We bring real people—from a diverse range of cultural backgrounds—into classrooms and businesses to deliver interactive, authentic learning experiences that help build understanding and appreciation of world cultures. Your donation will support our work in preparing Iowans to live and work successfully as members of a global community.
      </div>
    </div>
</div>

<!--Partner 15 - Center for Religion, Spirituality, and Social Justice-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/about/offices-services/crssj/student-orgs">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Center for Religion, Spirituality, and Social Justice<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Humanities and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/about/offices-services/crssj/student-orgs">
          <em>https://www.grinnell.edu/about/offices-services/crssj/student-orgs</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">The Center for Religion, Spirituality, and Social Justice helps you engage with Grinnell’s diverse spiritual community. Designed to foster interfaith dialogue and support many religious traditions, the center promotes local and global social justice through regular community meals, service opportunities, and other activities.
      </div>
    </div>
</div>

<!--Partner 16 - Davis Elementary School-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Davis%20Elementary">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Davis Elementary School<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Humanities and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Davis%20Elementary">
          <em>https://www.grinnell-k12.org/vnews/display.v/SEC/Davis%20Elementary</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2700 </div>

      <div style="font-size:0.9em">Davis Elementary School is a public elementary school located in Grinnell, IA in the Grinnell-Newburg Community School District. It enrolls 241 students in the 3rd and 4th grade. Davis Elementary School is the 497th largest public school in Iowa and the 45,758th largest nationally. It has 14.1 students to every teacher. If you would like to work with Davis, please contact the Assistant Director of Service and Social Innovation or the Director of the Education Professions Community at the CLS before reaching out to school officials.
      </div>
    </div>
</div>

<!--Partner 17 - Drake Community Library-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://drakelibrary.org/">
              <img src='https://drakelibrary.org/wp-content/uploads/2020/07/cropped-bw-logo-with-name-and-tagline-1.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Drake Community Library<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://drakelibrary.org/">
          <em>https://drakelibrary.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2661 </div>

      <div style="font-size:0.9em">Drake Library is a community resource center striving to inform and empower every person in the community through responsive services, collections and programs. DCL will be a place where people have open access to the   power of information and the joy of reading, a crossroads for social interactions and the exchange of ideas and cultural enrichment. The program assistant will work with librarians to provide children with learning opportunities and homework help. The library also hosts the Poweshiek Historical Preservation Project, a collaboration between Drake Community Library and the Grinnell College libraries which seeks to build a searchable digital archive of local area history.
      </div>
    </div>
</div>

<!--Partner 18 - Fairview Elementary School-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Fairview%20Elementary">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Fairview Elementary School<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Fairview%20Elementary">
          <em>https://www.grinnell-k12.org/vnews/display.v/SEC/Fairview%20Elementary</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2700 </div>

      <div style="font-size:0.9em">A PK-2 school in the Grinnell Newburg School District. If you would like to work with Fairview, please contact the Assistant Director of Service and Social Innovation or the Director of the Education Professions Community at the CLS before reaching out to school officials. Fairview Music program has had previous volunteer involvment.
      </div>
    </div>
</div>

<!--Partner 19 - Faulconer Gallery-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/campus-life/arts-culture/museum">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Faulconer Gallery<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Arts and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/campus-life/arts-culture/museum">
          <em>https://www.grinnell.edu/campus-life/arts-culture/museum</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">The Grinnell College Faulconer Gallery promotes learning through artistic excellence and creative collaboration. The assistant will help Tilly Woodward with community outreach and education activities.
      </div>
    </div>
</div>

<!--Partner 20 - Genesis Development-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://indianola.chamberofcommerce.me/indianolachamber/mem_kcharles">
              <img src='https://chamberorganizer.com/indianolachamber/photos/HEAD333017banP.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Genesis Development<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government, Social Sciences, and Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://indianola.chamberofcommerce.me/indianolachamber/mem_kcharles">
          <em>https://indianola.chamberofcommerce.me/indianolachamber/mem_kcharles</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-0230 </div>

      <div style="font-size:0.9em">Genesis Development is a private, 501(c)(3) not-for-profit rehabilitation organization that provides support for people with disabilities.   Rehabilitation services are provided through continuing assessments and goal setting. These goals are intended to address the needs and desires of those receiving services.
      </div>
    </div>
</div>

<!--Partner 21- Girl Scouts of Greater Iowa-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.girlscoutsiowa.org/en/for-volunteers/why-volunteer.html">
              <img src='https://www.girlscoutsiowa.org/content/dam/girlscouts-girlscoutsiowa/images/logo/large/G_IOWA_black.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Girl Scouts of Greater Iowa<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.girlscoutsiowa.org/en/for-volunteers/why-volunteer.html">
          <em>https://www.girlscoutsiowa.org/en/for-volunteers/why-volunteer.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> 800 (342-8389) </div>

      <div style="font-size:0.9em">Girl Scouting builds girls of courage, confidence, and character, who make the world a better place.
      </div>
    </div>
</div>

<!--Partner 22 - Greater Poweshiek Community Foundation-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://greaterpcf.org/?doing_wp_cron=1615961174.1974239349365234375000">
              <img src='https://greaterpcf.org/wp-content/uploads/2019/06/gpcf_logo_new_retina.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Greater Poweshiek Community Foundation<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Social Sciences and Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://greaterpcf.org/?doing_wp_cron=1615961174.1974239349365234375000">
          <em>https://greaterpcf.org/?doing_wp_cron=1615961174.1974239349365234375000</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-5518 </div>

      <div style="font-size:0.9em">The Greater Poweshiek Community Foundation, located in Grinnell, Iowa, assists donors in efficiently and effectively supporting non-profit organizations that make life better for people in the area. Through the Foundation, donors are able to make long-lasting positive contributions without being burdened by administrative or legal complexities. The student working in this position would help with the everyday work of the organization and would give particular help to a program related to their area of interest.
      </div>
    </div>
</div>

<!--Partner 23 - Grinnell Area Arts Council-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnellarts.org/">
              <img src='https://static1.squarespace.com/static/57c9c23f9de4bb3184294bc4/t/602fe32774b44f3518acf398/1615404148754/?format=1500w' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Area Arts Council<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Arts and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnellarts.org/">
          <em>https://www.grinnellarts.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-3203 </div>

      <div style="font-size:0.9em">The Grinnell Area Arts Council exists to promote, encourage, develop, and assist in the understanding, appreciation, and financial support of the arts and other cultural activities in the Grinnell Area. The assistant will help with programing consistent with the Council’s needs and the students’ interests or abilities. Stew Art Studios (the Stew) is a mutli-purpose creative space in downtown Grinnell. The Stew operates within the umbrella of the Arts Council. The Neverland Players work with the Art's Council's afterschool program to turn children-written stories into performance. Neverland Players, the Maker Lab have been collaborations with Grinnell.
      </div>
    </div>
</div>

<!--Partner 24 - Grinnell Chamber of Commerce-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnellchamber.org/">
              <img src='https://www.grinnellchamber.org/20210311004137/images/logo-black.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Chamber of Commerce<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Goverment and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnellchamber.org/">
          <em>https://www.grinnellchamber.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-6555 </div>

      <div style="font-size:0.9em">The Chamber's job is to grow and develop the local economy and act as a hub for resident and visitor information. The Chamber operates a Convention and Visitors Bureau charged with marketing Grinnell as a destination and staffing a visitor's center inside the Sullivan Bank. It also facilitates events and acts as a small business support center providing marketing and publicity services. The Chamber actively recruits businesses to Grinnell and encourages entrepreneurship and business development, and collaborates with many businesses on strategic growth initiatives. The Assistant will help with tasks as assigned and needed.
      </div>
    </div>
</div>

<!--Partner 25 - Grinnell Community Day Care Center (Ahrens Daycare)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnellcommunitydaycare.com/">
              <img src='https://le-cdn.hibuwebsites.com/90a358a8b88f42b7b3d88f945af8baf5/dms3rep/multi/opt/GrinnellCommunity_daycare_preschool1-01+%281%29-450w.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Community Day Care Center (Ahrens Daycare)<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnellcommunitydaycare.com/">
          <em>https://www.grinnellcommunitydaycare.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-7214 </div>

      <div style="font-size:0.9em">This center has a long, established day care tradition since 1969. Our unique & interesting history illustrates the deep commitment of the people of Grinnell to our center. Our center is an example of what can be achieved for the children of this world when a community gives its very best effort to support the education and care of its children.
      </div>
    </div>
</div>

<!--Partner 26 - Grinnell College Advocates-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/about/offices-services/crssj/support">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell College Advocates<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/about/offices-services/crssj/support">
          <em>https://www.grinnell.edu/about/offices-services/crssj/support</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">Grinnell Advocates is a staff-supervised, student organization that aims to create greater awareness about issues surrounding sexual assault and dating violence on campus. This group provides sensitive, educational programming about issues related to dating violence, sexual harassment, and sexual assault. The advocates also act as an immediate resource for victims through the CIS (Crisis Intervention Services) hotline.
      </div>
    </div>
</div>

<!--Partner 27 - Grinnell Health Care Center-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnellhealthcarecenter.com/">
              <img src='https://www.grinnellhealthcarecenter.com/img/logo.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Health Care Center<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnellhealthcarecenter.com/">
          <em>https://www.grinnellhealthcarecenter.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> 641) 236-6511 </div>

      <div style="font-size:0.9em">At Grinnell Health Care Center we value each Resident by utilizing the necessary medical, rehabilitation and social resources. It is our goal to restore and assist the Resident in maintaining their fullest potential. We are dedicated to providing an individualized approach that addresses the Resident’s needs while maintaining a sense of dignity and integrity.
      </div>
    </div>
</div>

<!--Partner 28 - Grinnell Heritage Farm-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://grinnellheritagefarm.com/">
              <img src='https://grinnellheritagefarm.com/wp-content/uploads/2013/09/ghf_logo_black.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Heritage Farm<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://grinnellheritagefarm.com/">
          <em>https://grinnellheritagefarm.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 990-0018 </div>

      <div style="font-size:0.9em">To farm our land in a way that will leave it better for the next generation. Giving our children, grandchildren, and beyond the opportunity to harvest the bounty we see on the farm today.
      </div>
    </div>
</div>

<!--Partner 29 - Grinnell High School-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg+High+School">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell High School<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg+High+School">
          <em>https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg+High+School</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2700 </div>

      <div style="font-size:0.9em">The Grinnell-Newburg School District, in partnership with the entire community, will empower every student to become a lifelong learner who is a responsible, productive and engaged citizen within the global community.
      </div>
    </div>
</div>

<!--Partner 30 - Grinnell Historical Museum-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.grinnellhistoricalmuseum.org/index.html">
              <img src='http://www.grinnellhistoricalmuseum.org/uploads/3/4/3/9/34391397/published/new-logo-dk-blue.jpg?1522367207' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Historical Museum<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Arts and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.grinnellhistoricalmuseum.org/index.html">
          <em>http://www.grinnellhistoricalmuseum.org/index.html</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-7827 </div>

      <div style="font-size:0.9em">Throughout its history, the Grinnell Historical Museum has been operated by volunteers. The Museum offers its volunteers a unique opportunity to utilize their historical skills and interests in the service of the community. They match assignments with the volunteers’ available time and interests and provide training. The assistant will support the board and lead volunteers and will help write and edit a book about the history of Grinnell for local third graders.
      </div>
    </div>
</div>
  
<!--Partner 31 - Grinnell Low Income Housing Authority-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.grinnelliowa.gov/300/Low-Rent-Housing">
              <img src='http://www.grinnelliowa.gov/ImageRepository/Document?documentID=1346' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Low Income Housing Authority<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Science.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.grinnelliowa.gov/300/Low-Rent-Housing">
          <em>http://www.grinnelliowa.gov/300/Low-Rent-Housing</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2611 </div>

      <div style="font-size:0.9em">For the most part, HUD listings are income based apartment rentals.You cannot earn more than the income limit on these properties.We list all information on our details pages along with information whether they are family   apartments, disabled or senior apartments.We searched for low income apartments in Grinnell, IA and currently do not have any listings.Please click back on your browswer to complete another search for apartments.
      </div>
    </div>
</div>

<!--Partner 32 - Grinnell Middle School-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg%20Middle%20School">
              <img src='https://www.grinnell-k12.org/vimages/L14/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Middle School<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg%20Middle%20School">
          <em>https://www.grinnell-k12.org/vnews/display.v/SEC/Grinnell-Newburg%20Middle%20School</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2700 </div>

      <div style="font-size:0.9em">The Grinnell-Newburg School District, in partnership with the entire community, will empower every student to become a lifelong learner who is a responsible, productive and engaged citizen within the global community. Art Club has been previous collaborator.
      </div>
    </div>
</div>

<!--Partner 33 - Grinnell Parks and Recreation-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.grinnelliowa.gov/159/Parks-Recreation">
              <img src='' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Parks and Recreation<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.grinnelliowa.gov/159/Parks-Recreation">
          <em>http://www.grinnelliowa.gov/159/Parks-Recreation</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-2620 </div>

      <div style="font-size:0.9em">The Parks and Recreation Department provides a variety of leisure activities aimed at every age level. Additionally, the Parks and Recreation Department coordinates the rental of a number of shelter houses, as well as, indoor facilities suited for any occasion. The assistant will likely help with either the local soccer or gymnastics programs and any other program that the director and student feel is in line with their needs, abilities, and interests.
      </div>
    </div>
</div>

<!--Partner 34 - Grinnell Regional Medical Center -- Unity Point-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.unitypoint.org/grinnell/default.aspx">
              <img src='https://www.unitypoint.org/images/unitypoint/UnityPointHealthLogo.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Regional Medical Center -- Unity Point<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health, STEM, and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.unitypoint.org/grinnell/default.aspx">
          <em>https://www.unitypoint.org/grinnell/default.aspx</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-7511 </div>

      <div style="font-size:0.9em">GRMC is a private, nonprofit, non-tax supported medical center with 49 beds. GRMC serves more than 47,000 residents in portions of Poweshiek, Jasper, Benton, Iowa, Mahaska, and Tama counties. With about 50 physicians and advanced practice clinicians, 400 employees, and 200 volunteers, GRMC is the largest hospital in Iowa between Des Moines and Iowa City. The Public Relations Assistant will help with writing publicity pieces and coordinating community events for the medical center. Hospital Helpers has been previous collaborator.
      </div>
    </div>
</div>

<!--Partner 35 - Grinnell Regional Public Health-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.unitypoint.org/grinnell/public-health.aspx">
              <img src='https://www.unitypoint.org/images/unitypoint/UnityPointHealthLogo.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Grinnell Regional Public Health<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.unitypoint.org/grinnell/public-health.aspx">
          <em>https://www.unitypoint.org/grinnell/public-health.aspx</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> 641) 236-7511 </div>

      <div style="font-size:0.9em">Grinnell Regional Public Health offers services to promote and protect the health of: immunization clinics, communicable disease control, Women, Infant, Children (WIC), maternal health (includes postpartum and breastfeeding support).
      </div>
    </div>
</div>

<!--Partner 36 - Habitat for Humanity-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.iowahabitat.org/">
              <img src='https://static.wixstatic.com/media/e2cc41_64d97024d186419ba482a3bafda35e13~mv2.png/v1/fill/w_488,h_80,al_c,q_85,usm_0.66_1.00_0.01/Iowa_Sgl_White.webp' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Habitat for Humanity<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.iowahabitat.org/">
          <em>https://www.iowahabitat.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 266-6886 </div>

      <div style="font-size:0.9em">Habitat for Humanity of Iowa is dedicated to eliminating substandard housing locally and worldwide through constructing, rehabilitating and preserving homes; by advocating for fair and just housing policies; and by providing training and access to resources to help families improve their shelter conditions. Habitat for Humanity was founded on the conviction that every man, woman and child should have a simple, durable place to live in dignity and safety, and that decent shelter in decent communities should be a matter of conscience and action for all.
      </div>
    </div>
</div>

<!--Partner 37 - Mid-Iowa Community Action - Head Start-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.micaonline.org/hs">
              <img src='https://static.wixstatic.com/media/c232e6_e2c052d40c224e338990250fdd14c262.gif' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Mid-Iowa Community Action - Head Start<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.micaonline.org/hs">
          <em>https://www.micaonline.org/hs</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 752-7162 </div>

      <div style="font-size:0.9em">Mid-Iowa Community Action, Inc. (MICA) is a private, nonprofit organization serving children and families in central Iowa. Established in 1965 to serve children and families affected by the conditions of poverty, MICA provides early childhood, health, family development and housing services as well as community enrichment programs. Our mission: Helping People. Changing Lives. Building Communities.
      </div>
    </div>
</div>

<!--Partner 38 - Imagine Grinnell-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.imaginegrinnell.org/">
              <img src='https://static1.squarespace.com/static/5f9b77e935f3032e1009e5bf/t/5f9b7cc9df224e395fd9f64a/1615922474369/?format=1500w' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Imagine Grinnell<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health, STEM, and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.imaginegrinnell.org/">
          <em>https://www.imaginegrinnell.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-5518 </div>

      <div style="font-size:0.9em">Imagine Grinnell uses its non-profit status and the strength of the Grinnell community to harness donations, government and private grants, and volunteers for a wide variety of community projects. Imagine Grinnell's mission is to improve the quality of life for our people, promote a healthy environment, and complement economic development efforts.
      </div>
    </div>
</div>

<!--Partner 39 - Immigrant Allies- Marshalltown Library-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.immigrantallies.net/">
              <img src='https://www.immigrantallies.net/uploads/1/7/8/7/17878317/8478980.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Immigrant Allies- Marshalltown Library<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.immigrantallies.net/">
          <em>https://www.immigrantallies.net/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (202) 225-2911 </div>

      <div style="font-size:0.9em">Through educational and awareness events, we provide opportunities for the public to learn about issues affecting our immigrant neighbors, and for diverse groups to come together. We offer resource & referral for immigration -related issues, and advocate for positive change.
      </div>
    </div>
</div>

<!--Partner 40 - Iowa Bar Association-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.iowabar.org/">
              <img src='https://cdn.ymaws.com/iowabar.site-ym.com/graphics/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Iowa Bar Association<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Law and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.iowabar.org/">
          <em>https://www.iowabar.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 243-3179 </div>

      <div style="font-size:0.9em">The Iowa State Bar Association is a vibrant, progressive organization that provides Iowa attorneys with the benefits of professional association with their colleagues. Its benefits include continuing legal education, practice aids, interaction with the judiciary and legislature, participation in reform of the law, and news regarding developments impacting the profession.
      </div>
    </div>
</div>

<!--Partner 41 - Iowa Citizens for Community Improvement-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://iowacci.org/">
              <img src='http://iowacci.org/wp-content/themes/iowacci/img/logo-shadow.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Iowa Citizens for Community Improvement<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://iowacci.org/">
          <em>http://iowacci.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 282-0484 </div>

      <div style="font-size:0.9em">The vision of Iowa Citizens for Community Improvement was born, rather humbly, in the rectory of St. Joseph’s Catholic Church in Waterloo. Iowa CCI was   conceived by a handful of clergy who believed that ordinary people, when given the chance, can be a powerful force for justice. Today that spirit of justice marches on through the work of thousands of Iowa CCI members like you, across the state, who continue to tackle tough issues and get things done.
      </div>
    </div>
</div>

<!--Partner 42 - Iowa Coalition Against Domestic Violence (Des Moines)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.icadv.org/">
              <img src='https://static.wixstatic.com/media/88018b_2e0182f9a57041739c20be118cf9764d~mv2.png/v1/fill/w_2013,h_240,al_c,q_90,usm_0.66_1.00_0.01/ICADV-%20No%20background.webp' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Iowa Coalition Against Domestic Violence (Des Moines)<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.icadv.org/">
          <em>https://www.icadv.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 244-8028  </div>

      <div style="font-size:0.9em">The Iowa Coalition Against Domestic Violence (ICADV) is the leading voice to end intimate partner violence in Iowa. Through our network of 22 statewide victim service programs, we provide comprehensive services to anyone who has been a victim of a violent crime – before, during and after.
      </div>
    </div>
</div>

<!--Partner 43 - One Iowa / Iowa Pride Network (Des Moines)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://oneiowa.org/">
              <img src='' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>One Iowa / Iowa Pride Network (Des Moines)<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education, Government, Humanities, and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://oneiowa.org/">
          <em>https://oneiowa.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 288-4019 </div>

      <div style="font-size:0.9em">Our mission for full equality includes educating Iowans about why marriage matters to gay and lesbian couples, ensuring that communities are safe for LGBTQ youth, reaching out to communities of faith, addressing concerns about Iowa’s aging and elder LGBT populations, improving access to resources for transgender Iowans, and so much more.
      </div>
    </div>
</div>

<!--Partner 44 - Iowa River Hospice-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.iowariverhospice.org/">
              <img src='https://www.iowariverhospice.org/_Media/iowa-river-hospice---alpha_med_hr.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Iowa River Hospice<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Social Services and Health.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.iowariverhospice.org/">
          <em>https://www.iowariverhospice.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 753-1197 </div>

      <div style="font-size:0.9em"> Iowa River Hospice is a non-profit organization committed to serving community needs in Jasper, Marshall, Tama, Southern Hardin and Southern Grundy Counties. Our team provides high-quality, compassionate, end-of-life care for our patients and support for their family members and caregivers.
      </div>
    </div>
</div>

<!--Partner 45 - Iowa Valley Community College GED-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://ce.iavalley.edu/adult-literacy/hsed/">
              <img src='https://ce.iavalley.edu/wp-content/themes/iowa-valley-continuing-education/images/logo.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Iowa Valley Community College GED<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://ce.iavalley.edu/adult-literacy/hsed/">
          <em>https://ce.iavalley.edu/adult-literacy/hsed/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 752-4645 </div>

      <div style="font-size:0.9em">IVCE’s HSED classes are structured to help adults at all levels, whether they have very little schooling or they just need to finish a class or two. Adults aged 17 and older who are no longer enrolled in high school can take Adult Basic Education classes to prepare themselves to take the HSED tests. The cost of the tests is approximately $50, and all testing is done on the computer unless an accommodation is needed for paper-based testing.
      </div>
    </div>
</div>

<!--Partner 46 - In My Backyard (IMBY)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.facebook.com/imbyiowa/">
              <img src='' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>In My Backyard (IMBY)<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health, STEM, and Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.facebook.com/imbyiowa/">
          <em>https://www.facebook.com/imbyiowa/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 821-0040 </div>

      <div style="font-size:0.9em">IMBY: In My Back Yard, Inc. stabilizes the community cat and pet cat, dog, and bunny population through targeted and thorough TNR (Trap Neuter Return) and transport of these animals to a low-cost spay/neuter clinic.
      </div>
    </div>
</div>

<!--Partner 47 - Liberal Arts in Prison Program-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.grinnell.edu/academics/centers-programs/liberal-arts-prison">
              <img src='https://www.grinnell.edu/sites/default/files/site-logo/logo_0.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4><b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.grinnell.edu/academics/centers-programs/liberal-arts-prison">
          <em>https://www.grinnell.edu/academics/centers-programs/liberal-arts-prison</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 269-4000 </div>

      <div style="font-size:0.9em">The Liberal Arts in Prison Program enrolls incarcerated students in a demanding, rich college program equivalent to a year at Grinnell College. We also host a student volunteer program that supports and supplements our accredited program. Through this work, we foster reciprocal learning that enriches lives both inside and outside the fences and affirms the transformative power of liberal arts education. Read our newsletter, donate to our program, or contact us for more information.
      </div>
    </div>
</div>

<!--Partner 48 - Local Foods Connection-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.localfoodsconnection.com/">
              <img src='https://static1.squarespace.com/static/5964ed38414fb5997eb39f05/t/59a577ca914e6bbe218c2daa/1615993372013/?format=1500w' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Local Foods Connection<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health, Education, STEM, and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.localfoodsconnection.com/">
          <em>http://www.localfoodsconnection.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 451-7923 </div>

      <div style="font-size:0.9em">Local Foods Connection (LFC) partners with local farmers to provide fresh environmentally sustainable food and nutrition education to Grinnell residents in need.
      </div>
    </div>
</div>

<!--Partner 49 - Marshalltown Community Library-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.marshalltownlibrary.org/">
              <img src='https://www.marshalltownlibrary.org/wp-content/themes/marshalltown-public-library/assets/media/logo.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Marshalltown Community Library<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.marshalltownlibrary.org/">
          <em>https://www.marshalltownlibrary.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 754-5738 </div>

      <div style="font-size:0.9em">Marshalltown Public Library exists to provide residents of Marshalltown and Marshall County with materials and services that meet their needs for recreation, information, education, and cultural awareness.
      </div>
    </div>
</div>

<!--Partner 50 - Marshalltown YMCA-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.ymca-ywca.org/">
              <img src='' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Marshalltown YMCA<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.ymca-ywca.org/">
          <em>https://www.ymca-ywca.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 752-8658 </div>

      <div style="font-size:0.9em">The Y brings families closer together, encourages good health and fosters connections through fitness, sports, fun and shared interests.
      </div>
    </div>
</div>

<!--Partner 51- Mayflower Community (Administration)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.mayflowerhomes.com/">
              <img src='https://www.mayflowerhomes.com/wp-content/uploads/2013/02/mf_logo3.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Mayflower Community (Administration)<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.mayflowerhomes.com/">
          <em>https://www.mayflowerhomes.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-6151 </div>

      <div style="font-size:0.9em">As a ministry of the Iowa Conference of the United Church of Christ, Mayflower’s mission is to provide a retirement community that affirms the dignity and worth of each individual, responds to ongoing and emerging resident needs and expectations, and seeks to balance ministry and financial integrity. Mayflower Community - Adopted Grandparent Program- previous collaboration.
      </div>
    </div>
</div>

<!--Partner 52 - Meskwaki Settlement School-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.msswarriors.org/">
              <img src='https://msswarriors.org/wp-content/uploads/2018/07/meskwaki-settlement-school-mobile-2xlogo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Meskwaki Settlement School<b></b></h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education, Humanities, and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.msswarriors.org/">
          <em>http://www.msswarriors.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 484-9000 </div>

      <div style="font-size:0.9em">Our mission is to prepare students to be responsible, independent life-long learners, preserving the language and culture of the Meskwaki Tribe.  By working together in a safe environment students will grow culturally, intellectually, emotionally, physically, and socially.
      </div>
    </div>
</div>
  
<!--Partner 53 - Mid Iowa Community Action (MICA)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.micaonline.org/">
              <img src='https://static.wixstatic.com/media/c232e6_e2c052d40c224e338990250fdd14c262.gif' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Mid Iowa Community Action (MICA)</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Science.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.micaonline.org/">
          <em>https://www.micaonline.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 752-7162 </div>
      <div style="font-size:0.9em">Established in 1965 to serve children and families affected by the conditions of poverty, MICA provides early childhood, health, family development and housing services as well as community enrichment programs. Our mission: Helping People. Changing Lives. Building Communities.  Some of our most well-known programs include Head Start, Family Development and Self-Sufficiency (FaDSS), the Low-Income Home Energy Assistance Program (LIHEAP), and WIC (Women, Infants and Children). The assistant will help with programing as needed.
      </div>
    </div>
</div>

<!--Partner 54 - PALS Animal Shelter-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.palspets.net/">
              <img src='https://static1.squarespace.com/static/58155369b3db2b4001eb949f/t/58166f53cd0f682fcba2f993/1612986567371/?format=1000w' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>PALS Animal Shelter</h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.palspets.net/">
          <em>https://www.palspets.net/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-4288 </div>
      <div style="font-size:0.9em">These individuals will organize college & community volunteers and schedule (paperwork, schedule on VolunteerSpot, training, transportation) There will be a big push in the county for volunteers. & these individuals will help get the info out by helping to brainstorm on the best way to make community contacts. The assistants will work one dog or cat shift per week, attend shelter/board meeting once per month, help update pictures and description of dogs and cats on website, and either help or initiate one fund-raising event. We have some ideas, but would like to leave this open for their own ideas.
      </div>
    </div>
</div>

<!--Partner 55 - Planned Parenthood of the Heartland (Des Moines)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.plannedparenthood.org/planned-parenthood-north-central-states">
              <img src='https://www.plannedparenthood.org/static/assets/img/planned-parenthood-horizontal.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Planned Parenthood of the Heartland (Des Moines)</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.plannedparenthood.org/planned-parenthood-north-central-states">
          <em>https://www.plannedparenthood.org/planned-parenthood-north-central-states</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (800) 230-7526 </div>
      <div style="font-size:0.9em">Planned Parenthood of the Heartland has served women and men of all ages since the mid-1930s. Today the agency offers a full range of quality reproductive health care services to residents in Arkansas, Iowa, Nebraska and eastern Oklahoma.
      </div>
    </div>
</div>

<!--Partner 56 - Poweshiek 4H-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.extension.iastate.edu/poweshiek/4h">
              <img src='https://www.extension.iastate.edu/sites/all/themes/extension_main/images/footer-wordmark.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Poweshiek 4H</h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.extension.iastate.edu/poweshiek/4h">
          <em>https://www.extension.iastate.edu/poweshiek/4h</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 623-5302 </div>
      <div style="font-size:0.9em">The Poweshiek County Extension Council, county staff and ISU Extension and Outreach staff work together to provide research-based learning opportunities for our citizens. Through this partnership, we carry Iowa State University’s land-grant mission across Poweshiek County.
      </div>
    </div>
</div>

<!--Partner 57 - Poweshiek County Association for Retarded Citizens (the ARC)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.thearcofiowa.org/">
              <img src='https://thearc.org/wp-content/uploads/2019/07/ArcLogo_Color_Rev_PNG_WEB.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Poweshiek County Association for Retarded Citizens (the ARC)</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Social Sciences and Health.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.thearcofiowa.org/">
          <em>https://www.thearcofiowa.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 508-1214 </div>
      <div style="font-size:0.9em">The Arc promotes and protects the human rights of people with intellectual and developmental disabilities and actively supports their full inclusion and participation in the community throughout their lifetimes.
      </div>
    </div>
</div>

<!--Partner 58 - Poweshiek County Auditor-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://poweshiekcounty.org/poweshiek-auditor/">
              <img src='http://poweshiekcounty.org/human-resources/files/2015/07/Poweshiek-Logo-FINAL-e1438175533366.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Poweshiek County Auditor</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://poweshiekcounty.org/poweshiek-auditor/">
          <em>http://poweshiekcounty.org/poweshiek-auditor/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 623-5443 </div>
      <div style="font-size:0.9em">Serves as clerk to the Board of Supervisors, performs financial accounting, facilitates elections
      </div>
    </div>
</div>

<!--Partner 59 - Poweshiek County Community Services-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://poweshiekcounty.org/community-services/">
              <img src='http://poweshiekcounty.org/human-resources/files/2015/07/Poweshiek-Logo-FINAL-e1438175533366.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Poweshiek County Community Services</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://poweshiekcounty.org/community-services/">
          <em>http://poweshiekcounty.org/community-services/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-9199 </div>
      <div style="font-size:0.9em">Provides a directory and contact information about different services available for people in Poweshiek County.
      </div>
    </div>
</div>

<!--Partner 60 - Poweshiek County Conservation Board-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.poweshiekcountyparks.org/">
              <img src='http://poweshiekcounty.org/conservation/files/2015/08/header08142015.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Poweshiek County Conservation Board</h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.poweshiekcountyparks.org/">
          <em>http://www.poweshiekcountyparks.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b>  (641) 623-3191 </div>
      <div style="font-size:0.9em">The purposes of the Poweshiek County Conservation Board, as established by law, are: “To acquire, develop, maintain, and make available to the inhabitants of the county, public grounds, recreational center, county areas, and to promote and preserve the health and general welfare of the people, to encourage the orderly development and conservation of natural resources, and to cultivate good citizenship by providing adequate programs of public recreation.”
      </div>
    </div>
</div>

<!--Partner 61 - Poweshiek I-80 / Poweshiek Iowa Development-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.powi80.com/">
              <img src='https://www.powi80.com/images/design1/2.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Poweshiek I-80 / Poweshiek Iowa Development</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.powi80.com/">
          <em>https://www.powi80.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-1626 </div>
      <div style="font-size:0.9em">Poweshiek Iowa Development provides a variety of services and resources that support job-creating, wealth-generating economic development projects in our communities and county. Poweshiek Iowa Development offers comprehensive assistance to businesses at every stage of development and growth, whether just starting up, expanding or relocating to Poweshiek County; our services are designed to streamline doing business in Poweshiek County.
      </div>
    </div>
</div>

<!--Partner 62 - Poweshiek Soil and Water Conservation District-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.iowadnr.gov/Environmental-Protection/Water-Quality/Water-Monitoring/Volunteer-Water-Monitoring">
              <img src='https://www.iowadnr.gov/Portals/idnr/DNR-logo_Web.jpg?ver=CBpJtmKKDrdXatF6b1Ge-w%3d%3d' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Poweshiek Soil and Water Conservation District</h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.iowadnr.gov/Environmental-Protection/Water-Quality/Water-Monitoring/Volunteer-Water-Monitoring">
          <em>https://www.iowadnr.gov/Environmental-Protection/Water-Quality/Water-Monitoring/Volunteer-Water-Monitoring</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 725-8388 </div>
      <div style="font-size:0.9em">Provide financial and technical assistance to Poweshiek County farmers for soil and water conservation practices. Iowa Water program.
      </div>
    </div>
</div>

<!--Partner 63 - Practical Farmers of Iowa-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://practicalfarmers.org/">
              <img src='https://practicalfarmers.org/wp-content/themes/pfi/img/PFI2019_HorizontalLogo_Navy--header.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Practical Farmers of Iowa</h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://practicalfarmers.org/">
          <em>https://practicalfarmers.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 232-5661 </div>
      <div style="font-size:0.9em">Practical Farmers of Iowa is an inclusive organization representing a diversity of farmers. Farmers in our network raise corn and soybeans, hay, livestock large and small, horticultural crops from fruits and vegetables to cut flowers and herbs, and more. Our members have conventional and organic systems; employ diverse management practices; run operations of all sizes; and come from a range of backgrounds. These farmers come together, however, because they believe in nature as the model for agriculture and they are committed to moving their operations toward sustainability.
      </div>
    </div>
</div>

<!--Partner 64 - Rock Creek State Park-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.iowadnr.gov/Places-to-Go/State-Parks/Iowa-State-Parks/Rock-Creek-State-Park">
              <img src='https://www.iowadnr.gov/Portals/idnr/DNR-logo_Web.jpg?ver=CBpJtmKKDrdXatF6b1Ge-w%3d%3d' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Rock Creek State Park</h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.iowadnr.gov/Places-to-Go/State-Parks/Iowa-State-Parks/Rock-Creek-State-Park">
          <em>https://www.iowadnr.gov/Places-to-Go/State-Parks/Iowa-State-Parks/Rock-Creek-State-Park</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-3722 </div>
      <div style="font-size:0.9em">The park is a haven for many different species of wildlife. At the lake's far north end, the Iowa Department of Natural Resources maintains a game management area open to public hunting. Thousands of ducks migrating to their summer breeding grounds take refuge in the solitude of Rock Creek. The concentrations of teal, bluebills and mallards offer an excellent opportunity for bird watching. In the spring, ducks in their full plumage perform their courtship flights. Even in winter, mallards can often be seen on the south end of the lake where the spillway area is relatively free of ice. A variety of animals including white-tailed deer are often seen by park visitors.
      </div>
    </div>
</div>

<!--Partner 65 - SHE Counts-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://ahrensfamilyfoundation.org/s-h-e-counts/">
              <img src='https://ahrensfamilyfoundation.org/wp-content/uploads/2018/07/SHECountsLogo.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>SHE Counts</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Social Services.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://ahrensfamilyfoundation.org/s-h-e-counts/">
          <em>https://ahrensfamilyfoundation.org/s-h-e-counts/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-5518 </div>
      <div style="font-size:0.9em">The mission of S.H.E. COUNTS is to support, help, and empower women and girls in Poweshiek County. Created in 2013, S.H.E. COUNTS has helped hundreds of individuals.S.H.E. COUNTS is headed by a diverse group of women within the county who are committed to helping move women and girls towards self-reliance.
      </div>
    </div>
</div>

<!--Partner 66 - Second Mile-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.facebook.com/pages/category/Thrift---Consignment-Store/Second-Mile-Thrift-Shop-129337237078762/">
              <img src='https://scontent.fdsm1-1.fna.fbcdn.net/v/t1.0-9/31249_129339520411867_2658597_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=973b4a&_nc_ohc=huw93OyNyb8AX-ylA8J&_nc_ht=scontent.fdsm1-1.fna&oh=3e79a2df4069e51ebc394211cece7596&oe=60789D5E' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Second Mile</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.facebook.com/pages/category/Thrift---Consignment-Store/Second-Mile-Thrift-Shop-129337237078762/">
          <em>https://www.facebook.com/pages/category/Thrift---Consignment-Store/Second-Mile-Thrift-Shop-129337237078762/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-7892 </div>
      <div style="font-size:0.9em">Going the second mile for needy families in Poweshiek County. Your donations of clothing, household and furniture items makes this possible!
      </div>
    </div>
</div>

<!--Partner 67 - Social Entrepreneurs of Grinnell-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.segrinnell.org/">
              <img src='http://www.segrinnell.org/wp-content/uploads/2012/02/seg_logo_transparent.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Social Entrepreneurs of Grinnell</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.segrinnell.org/">
          <em>http://www.segrinnell.org/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (701) 566-0734 </div>
      <div style="font-size:0.9em">The Social Entrepreneurs of Grinnell (SEG) is a 501(c)(3) microfinance nonprofit located in Grinnell, Iowa, that seeks to empower individuals through microloans internationally and locally. Microfinance is the provision of small loans to individuals without adequate access to credit, generally given for activities that generate income or enhance financial stability. It is a sustainable tool for development; each loan that is lent and repaid can be used again for another individual or group.
      </div>
    </div>
</div>

<!--Partner 68 - Special Olympics-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.soiowa.org/get-involved/class-a-volunteers/">
              <img src='' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Special Olympics</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Government, Health, and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.soiowa.org/get-involved/class-a-volunteers/">
          <em>http://www.soiowa.org/get-involved/class-a-volunteers/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 986-5520 </div>
      <div style="font-size:0.9em">Special Olympics Iowa is a statewide movement that unleashes the human spirit through the transformative power and joy of sports. Using sports as the catalyst, and including programming on health and education, Special Olympics is fighting inactivity, injustice and intolerance. As a result, people with intellectual   disabilities become accepted and valued members of their communities, which leads to a more respectful and inclusive society for all.
      </div>
    </div>
</div>

<!--Partner 69 - St. Francis Manor-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.stfrancismanor.com/">
              <img src='https://www.stfrancismanor.com/20210318121309/assets/images/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>St. Francis Manor</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.stfrancismanor.com/">
          <em>https://www.stfrancismanor.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-7592 </div>
      <div style="font-size:0.9em">St. Francis Manor, Inc. in Grinnell, Iowa, is a non-profit, long-term skilled nursing facility with 78 beds. It manages Seeland Park, a Continuing Care Retirement Community (CCRC) situated on a 27-acre campus with 137 independent-living retirement homes. Community Services of St. Francis offers home healthcare; physical, occupational and speech therapy; and other conveniences.
      </div>
    </div>
</div>

<!--Partner 70 - Station Clubhouse-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.capstonebh.com/pages/station-clubhouse.aspx">
              <img src='http://www.capstonebh.com/images/logo.png' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Station Clubhouse</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.capstonebh.com/pages/station-clubhouse.aspx">
          <em>http://www.capstonebh.com/pages/station-clubhouse.aspx</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-5325 </div>
      <div style="font-size:0.9em">Station Clubhouse is a(an) Psychiatric Hospital in the city of Grinnell, Iowa. In general the Psychiatric Hospital provides mental status examination and treatmentrelated medical services.
      </div>
    </div>
</div>

<!--Partner 71 - Tallgrass Prairie Audubon Society-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.co.jasper.ia.us/197/Tallgrass-Prairie-Audubon-Society">
              <img src='https://www.co.jasper.ia.us/ImageRepository/Document?documentID=228' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Tallgrass Prairie Audubon Society</h4>
      <div style="font-size:0.9em"><b>Tags: </b>STEM.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.co.jasper.ia.us/197/Tallgrass-Prairie-Audubon-Society">
          <em>https://www.co.jasper.ia.us/197/Tallgrass-Prairie-Audubon-Society</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 792-9780 </div>
      <div style="font-size:0.9em">Audubon's mission is to conserve and restore natural ecosystems, focusing on birds, other wildlife, and their habitats for the benefit of humanity and the earth's biological diversity.
      </div>
    </div>
</div>

<!--Partner 72 - UCC Preschool-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="http://www.grinnelluccpreschool.com/">
              <img src='http://www.grinnelluccpreschool.com/publishImages/~master~master~~master37.jpg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>UCC Preschool</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Education, Social Sciences, and Humanities.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="http://www.grinnelluccpreschool.com/">
          <em>http://www.grinnelluccpreschool.com/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-3111 </div>
      <div style="font-size:0.9em">The Teacher Aide is responsible for fulfilling the mission of the Preschool by assisting all aspects of the day-to-day operations of UCC Community Preschool. The UCC Community Preschool has two key goals-to teach children to get along with others and to enhance each child’s self-esteem. Preschool activities also encourage a child’s awareness of self and the community through varied experiences with classroom materials, stories, dramatic play, music, art and field trips.
      </div>
    </div>
</div>

<!--Partner 73 - US Committee for Refugees & Immigrants-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://refugees.org/uscri-des-moines/">
              <img src='https://refugees.org/wp-content/uploads/2020/08/new-logo-uscri.svg' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>US Committee for Refugees & Immigrants</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Humanities, Government, and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://refugees.org/uscri-des-moines/">
          <em>https://refugees.org/uscri-des-moines/</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (515) 528-7525 </div>
      <div style="font-size:0.9em">In the neighborhoods across Des Moines, Iowa, we open doors for uprooted people, helping the world’s most vulnerable rebuild their lives. We are part of a nationwide network that breaks through social, cultural, and economic barriers so previously interrupted lives can flourish. The first welcome begins with navigating American culture, laying solid foundations for a fresh start, and making essential community connections to successfully integrate into our community.
      </div>
    </div>
</div>

<!--Partner 74 - Windsor Manor (For Profit)-->
<div class='container-border'>
        <div>
          <logo-icon>
            <a href="https://www.windsor-manor.com/find-a-community/windsor-manor-grinnell-ia">
              <img src='' class='logo-icon'>
            </a>
        </div>
    <div style='margin-left:0px;'>
      <h4>Windsor Manor (For Profit)</h4>
      <div style="font-size:0.9em"><b>Tags: </b>Health and Social Sciences.</div>
      <div style="font-size:0.9em"><b>Website: </b><a href="https://www.windsor-manor.com/find-a-community/windsor-manor-grinnell-ia">
          <em>https://www.windsor-manor.com/find-a-community/windsor-manor-grinnell-ia</em></a></div>
      <div style="font-size:0.9em"><b>Contact: </b> (641) 236-8700 </div>
      <div style="font-size:0.9em">Windsor Manor is an assisted living community offering everything today’s seniors need to help them continue to explore and enjoy life in a safe environment where all their needs are met. Our mission is to provide an atmosphere of respect, comfort and grace, where quality of life is of the utmost importance.
      </div>
    </div>
</div>
  
</div>
