// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.search-result a {
    font-size: 20px;
    line-height: 1.2em;
    text-align: left;
    color: black;
    padding-top: 6px;
  }

.search-result {
    font-size: 20px;
    line-height: 1.2em;
    text-align: left;
    color: black;
    padding-top: 6px;
    margin-top: 25px;
}

#query {
    padding: 10px 5px 10px 5px;
    font-size: 17px;
}

#search-button {
    padding: 10px 5px 10px 5px;
    font-size: 20px;
}